html, body{
  height: 100%;
}
/*media queries*/

@media only screen and (max-width: 430px){
  .services p{
    padding: 0 0 !important;
  }
}

@media only screen and (max-width: 768px){


  .jumbotron .container{
    padding-top: 10%;
    }
    .navbar-nav a{
  background-color:#2c3e50 !important;
  color:#fff !important;
}
  }

@media only screen and (min-width: 1178px){
  body{
    width: 1200px;
    margin: 0 auto;
  }
}



html{
  padding:0;
  margin:0;
}

body{
  margin:0 auto;
  padding:0;
}

nav{
  background-color: #fff !important;
  border-color: #fff !important;
  margin:0;
  padding: 40px 0 20px 0;

}

.container{
  margin:0;
  width:inherit;
  padding:0;
}
.navbar-header{
  float: none;
  
  margin: 0 0 !important;

  text-align:center;
}

.navbar .navbar-header a{
  float:none;
  }


.logo:hover{

opacity:0.7;
}



.navbar-nav{
float:none;
margin:0;
text-align: center;
}

.navbar-nav li{
  float:none;
  display: inline-block;
  color: #0f8cea;
}


nav ul{


  padding: 5px 0 5px 0;

  list-style-type: none;
}
nav li{
  display: inline-block;
  padding: 5px 0 5px 0;
}

nav a{
  color: #000;
  text-decoration: none;
  padding: 10px;
}

nav a:visited{
  color:#000;
  text-decoration: none;
}

nav a:hover{
  color:#fff;
  background-color: #000;
  text-decoration:none;
  font-weight:400px;

}

.jumbotron{
  height: 400px;
  margin:10px 0 40px 0;
  padding-top: 150px;
  background-color:#2479a3;
  background-image: url(jumb.png)

  ; 

}

.container{
  width:inherit;



}

.jumbotron h2{
  margin-bottom: 30px;
}

.jumbotron a {
  margin-bottom: 20px;

}

.jumbotron button{
  margin-bottom: 16px;
}

.jumbotron .btn{

  color: #fff;

}

.btn:hover{
  background-color:#000;
  color: #fff;
}



.services p{
  line-height: 30px;
  padding: 0 30px;
  font-family: 'Lota';
}

.services .thumbnail{
  height: 200px;
  padding-top: 40px;


}

.services .row .container{
    padding: 40px 20px 40px 40px;
    color: #fff;

}

.it{
  background-color: #18bc9c;
  background-image: url(it.png);
  background-position: 20% 15%;
  margin-bottom: 150px;
  background-attachment: fixed;





}

.engineering{

  background-color: #2c3e50;
  background-image: url(eng.png);
  background-attachment: fixed;
}


.about-us {
  padding: 0 15%;
  line-height: 30px;

}


.contact{
  margin-top: 100px;
  padding: 50px 0 50px 0;
  color: #fff;
  background-color: #2479a3;
}
.contact ul{
  list-style-type: none;
  width: inherit;
  padding:0;
  margin:0;
}

.contact li{
  display:inline-block;
  padding: 15px;
}





footer{
  margin-top: 100px;
}

footer a{
  color: #333333;
}

footer i{
  padding: 10px;
  font-size: 16px;
}

footer p{
  font-size: 12px;
}
